<? include public/header.html ?>
            <div class="main">
                <div class="listview" id="topic_list">
                    <div class="item">
                        <div class="avatar"><img src="/images/avatar.png" /></div>
                        <div class="content">
                            <div class="head">
                                <p class="title">千里走单骑关羽</p>
                                <p class="subtitle">13分钟前</p>
                            </div>
                            <div class="body">
                                <p><span class="event">#贵阳身边事#</span>我身骑白马，走三关； 我改换素衣，回中原</p>
                            </div>
                            <div class="foot">
                                <ul class="pull-right">
                                    <li><span class="icon icon-comment"></span>评论<span>(123)</span></li>
                                    <li><span class="icon icon-laud"></span>赞<span>(1)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<? include public/footer.html ?>