<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><?= title ?></title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1>匿名吐槽</h1>
                <div class="info">
                    <div class="avatar">
                        <img src="/images/avatar.png" />
                    </div>
                    <div class="nickname">匿名身份：<span>蓝脸的窦尔敦</span></div>
                </div>
            </div>